<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/styles/bloqueo.css">
    <title>Acceso Bloqueado</title>
</head>
<body>
    <div class="container">
        <h1>Acceso Bloqueado</h1>
        <p>Has excedido el número máximo de intentos de inicio de sesión.</p>
        <p>Por favor, contacta con el administrador o inténtalo de nuevo más tarde.</p>
    </div>
</body>
</html>
