<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/script.js"></script>
    <title>FoodBalance</title>
    <link rel="stylesheet" href="/styles/index.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

    <section id="middle">
		
		<div class="dropdown categoriaComida">
		  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
		    Seleccionar Categoria
		  </button>
		  <ul class="dropdown-menu">
		    <li th:each="elemento : ${atr_lista_categoria}"><a th:href="@{/filtro(categoriaid=${elemento.id})}" class="dropdown-item" th:text="${elemento.nombre}">Action</a></li>
		  </ul>
		</div>
		
		<div class="contenedorComidas">
			<div class="tabla-scroll">
				<table class="table tablaComidas" style="cursor: pointer;" disabled>
				  <thead>
				    <tr>
				      <th scope="col">Nombre</th>
				      <th scope="col">Calorias</th>
				      <th scope="col">Carbohidratos</th>
				      <th scope="col">Grasa</th>
					  <th scope="col">Proteina</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr th:each="elemento : ${atr_lista_comida}" onclick="seleccionarNombre(this)">
					  <td th:text="${elemento.id}" hidden></td>
				      <td th:text="${elemento.nombre}"></td>
				      <td th:text="${elemento.calorias}"></td>
				      <td th:text="${elemento.carbohidratos}"></td>
				      <td th:text="${elemento.grasa}"></td>
					  <td th:text="${elemento.proteina}"></td>
				    </tr>
				  </tbody>
				</table>
			</div>
		</div>
		
		<form method="post" th:action="@{/añadirComidaALista}">
		<div class="form-floating pesoComidaEnseñar">
		  <textarea class="form-control" id="floatingTextareaEnseñar" name="nombre" readonly></textarea>
		  
		</div>
		
		<div class="form-floating pesoComida">
		  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" name="pesoComida" style="margin-right: 20%;"></textarea>
		  <label for="floatingTextarea">Ingrese la cantidad en (g)</label>
		  
		  <input type="number" id="idhidden" value="" name="idComida" hidden>	
		  
		  <button type="submit" class="btn btn-dark">Añadir</button>
		</div>
		</form>
		<div class="form-floating enseñarListado">
			
		  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" style="height: 400px; width: 700px;" th:text="${atr_lista_listaComida}"></textarea>
		  <form method="post" th:action="@{/completarDia}">
		  <table class="table tablaComidas" style="width: 700px;">
		    <thead>
		      <tr>
		        <th scope="col">Total Calorias</th>
		        <th scope="col">Total Carbohidratos</th>
		        <th scope="col">Total Grasa</th>
		  	  <th scope="col">Total Proteina</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		        <td th:text="${totalCalorias}"></td>
		        <td th:text="${totalCarbohidratos}"></td>
		        <td th:text="${totalGrasa}"></td>
		  	    <td th:text="${totalProteina}"></td>
		      </tr>
		    </tbody>
		  </table>
		  <button type="submit" class="btn btn-dark" style="margin-left: 270px; margin-top: 40px;">Completar Dia</button>
		</div>
		</form>


		
    </section>

    <div id="menu">
        <div style="margin-top: 0%;" class="menu-contenedor">
            <div class="menu" onmouseover="abrirMenu()" onmouseout="cerrarMenu()">
            <ul class="menu-items">
                <a th:href="@{/inicio}">
                    <li>
                        <img src="images/Comida.png" alt="Menu Icon" class="menu-icon" style="width: 80px;">
                        <span class="menu-text" style="margin-left: 5%;"><b>Comida</b></span>
                    </li>
                </a>
                <a th:href="@{/comidaHistorial}">
                    <li>
                        <img src="images/RegistroComida.png" alt="Image 1" class="menu-icon" style="width: 80px;">
                        <span class="menu-text" style="margin-left: 5%;"><b>Macros</b></span>
                    </li>
                </a>
                <a th:href="@{/peso}">
                    <li>
                        <img src="images/Peso.png" alt="Image 2" class="menu-icon" style="width: 80px;">
                        <span class="menu-text" style="margin-left: 5%;"><b>Peso</b></span>
                    </li>
                </a>
                <a th:href="@{/pesoHistorial}">
                    <li>
                        <img src="images/RegistroPeso.png" alt="Image 3" class="menu-icon" style="width: 80px;">
                        <span class="menu-text" style="margin-left: 5%;"><b>Historial</b></span>
                    </li>
                </a>
                <a th:href="@{/admin}">
                    <li>
                        <img src="images/Admin.png" alt="Image 3" class="menu-icon" style="width: 80px;">
                        <span class="menu-text" style="margin-left: 5%;"><b>Admin</b></span>
                    </li>
                </a>
            </ul>
            </div>
        </div>
    </div>
	
	<script>
		const textarea = document.getElementById('floatingTextarea');

		  textarea.addEventListener('input', (event) => {
		  textarea.value = textarea.value.replace(/[^0-9]/g, '');
		});
		
		// Función para manejar el clic en una fila
		function seleccionarNombre(fila) {
		  // Selecciona el valor del primer hijo (la celda de nombre)
		  const nombre = fila.children[1].innerText;
		  const id = fila.children[0].innerText;

		  // Encuentra el textarea y le asigna el valor del nombre
		  const textarea = document.getElementById('floatingTextareaEnseñar');
		  textarea.value = nombre;
		  
		  const idhidden = document.getElementById('idhidden');
		  idhidden.value = id;
		}
		
	</script>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	
</body>
</html>
